*{
    margin: 0;
    padding: 0;
}
 .card {
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 20px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card h2 {
    font-family: helvetica;
	font-size: 24px;
	margin-bottom: 10px;
}

.card p {
    font-family: helvetica;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.card img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.card button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
}

.btn{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    display: flex;
    width: 100%;
}

.botao2{
    background-color: blue;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 25px;
}

input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(200, 200, 200);
    outline: 0;
}


input:focus{
    border-bottom: 2px solid tomato;  
}

::placeholder{
    font-size: 20px;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
 
}

.card{
    border: 0;
    font-size: 25px;
}

h5{
    font-size: 25px;
}

